[Unit]
Description=Sync Mastodon posts with Bluesky

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=%h/dev/sakuramochi/rss2bsky.py/venv/bin/python %h/dev/sakuramochi/rss2bsky.py/rss2bsky.py
WorkingDirectory=%h/dev/sakuramochi/rss2bsky.py/

[Install]
WantedBy=default.target